.App {
    text-align: center;
    background-color: #d5d6cd;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// .App-logo {
//     height: 40vmin;
//     pointer-events: none;
// }

.App-header {
    background-color: #b5c6e9;
    height: 10vh;
    width: 100%;
    // font-size: calc(10px + 2vmin);
    padding-bottom: 3rem;
    font-size: 28px;
    color: rgb(122, 122, 122);
    text-shadow: 0 0 2px rgb(0, 0, 0);
    -webkit-text-stroke: 2px black;
    border-bottom: 3px solid rgb(122, 122, 122);
}

.App-link {
    color: #61dafb;
}

main {
    min-width: 70vw;
    min-height: 90vh;
    border: black solid 3px;
    border-radius: 18px;
    margin: 3rem 0 3rem 0;
    background-color: #c8c9c7;
}

[id*="Area"] {
    // border: black solid 2px;
    min-height: 10vh;
    min-width: 100%;
}

#InputArea {
    height: auto;
    padding: 1.5rem 0;
    border-bottom: black solid 3px;
}

#OpenTaskArea {
    min-height: 50vh;
    height: auto;
    border-bottom: black solid 3px;
}

#FinishedTaskArea {
    min-height: 30vh;
    height: auto;
}

#InputArea > form > div > label {
    margin-right: 0.8rem;
}

#InputArea > form > div {
    margin-bottom: 0.5rem;
}

.low{
    background-color: lightgray;
}
.medium {
    background-color: yellow !important;
}
.high{
    background-color: orange !important;
}
.very-high{
    background-color: red !important;
}

#prioSelectDisplay,
#colorSelectDisplay {
    min-width: 12px;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 3px;
    border: 1px solid black;
    border-radius: 3px;
}

.grey {
    background-color: lightgray;
}
.white {
    background-color: white;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.turquoise {
    background-color: turquoise;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: pink;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}