.TaskEntry {
    width: auto;
    height: 8rem;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1rem 1.5rem;
    background-color: #d3d3d3;
}

// [id*="close"] {
//     width: 1rem;
//     height: 1rem;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 0.3rem;
//     background-color: rgb(168, 168, 168);
//     border: black 1px solid;
//     border-radius: 100%;
//     font-weight: bold;
//     position: relative;
//     left: 570px;
//     top: -60px;
// }


// .close {
//     font-size:15px;
//     font-family:Arial;
//     width:28px;
//     height:28px;
//     border-width:1px;
//     color:#fff;
//     border-color:#18ab29;
//     font-weight:bold;
//     border-top-left-radius:28px;
//     border-top-right-radius:28px;
//     border-bottom-left-radius:28px;
//     border-bottom-right-radius:28px;
//     text-shadow: 1px 1px 0px #2f6627;
//     background:#44c767;
// }
  
// .close:hover {
//     background: #5cbf2a
// }


[id*="close"] {
    border-width: 4px;
    border-style: solid;
    border-radius: 100%;
    color: rgb(143, 0, 0);
    height: 12px;
    margin:auto;
    position: relative;
    text-indent: -9999px;
    width: 12px;
    position: relative;
    left: 590px;
    top: -90px;
}
[id*="close"]:hover {
    color: rgb(219, 29, 22);
}
.arrow-t-b:after,
.arrow-t-b:before,
.arrow-l-r:after, 
.arrow-l-r:before {
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    left: 2px;
    top: 0px;
    position: absolute;
}
.arrow-t-b:after {
    border-top-color: inherit;
}
.arrow-l-r:after {
    border-right-color: inherit;
    left: 4px;
    top: 2px;
}
.arrow-t-b:before {
    border-bottom-color: inherit;
    bottom: 0;
}
.arrow-l-r:before {
    border-left-color: inherit;
    left: 0;
    top: 2px;
}