.TaskEntry {
    width: auto;
    // height: 8rem;
    height: auto;
    border: 2px solid black;
    border-radius: 14px;
    margin: 1rem 1.5rem;
    background-color: #d3d3d3;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
}

h3 {
    font-size: 21px;
}

.details{
}


[id*="close"] {
    border-width: 4px;
    border-style: solid;
    border-radius: 100%;
    color: rgb(143, 0, 0);
    height: 12px;
    margin:auto;
    position: relative;
    text-indent: -9999px;
    width: 12px;
    position: relative;
    left: 590px;
    top: -90px;
}
[id*="close"]:hover {
    color: rgb(219, 29, 22);
}
.arrow-t-b:after,
.arrow-t-b:before,
.arrow-l-r:after, 
.arrow-l-r:before {
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    left: 2px;
    top: 0px;
    position: absolute;
}
.arrow-t-b:after {
    border-top-color: inherit;
}
.arrow-l-r:after {
    border-right-color: inherit;
    left: 4px;
    top: 2px;
}
.arrow-t-b:before {
    border-bottom-color: inherit;
    bottom: 0;
}
.arrow-l-r:before {
    border-left-color: inherit;
    left: 0;
    top: 2px;
}